[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube Music
Exec=chromium --app="https://music.youtube.com"
Icon=/home/user/pg/YouTubeMusic/icon.png
